<div class="col-md-9">
  <p class="lead">Пользователь</p>

<p>
  <strong>Имя:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Изменить', edit_user_path(@user) %> |
<%= link_to 'Пользователи', users_path %>
</div>