<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="col-md-9">
  <p class="lead">Ваша корзина</p>
  <div class="row">
  <div id="cart">
    <%= render @cart %>
  </div>
    <div class="container-btn-cart">
      <%= button_to 'Оформить заказ', @cart, method: :delete, data: { confirm: 'Очистить корзину?' },
                    class: 'btn btn-success' %>
      <%= button_to 'Очистить корзину', @cart, method: :delete, data: { confirm: 'Очистить корзину?' },
                    class: 'btn btn-warning' %>
    </div>
  </div>
</div>